.section6{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Inter;
}

.section6 h1{
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 400;
}

.section6 article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1450px;
    max-width: 87vw;
    height: 530px;
    justify-content: space-around;
}

.sede{
    width: 48%;
    height: 100%;
    background-image: url(img/sede.png);
    background-size: cover;
    background-position: 25% 100%;
}

.map-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 575px;
}

.map-container h1{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}

.map-container h2{
    margin-top: 5px;
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 500;
}

.map-container img{
    width: 700px;
    max-width: 40vw;
    height: 400px;
    margin-top: 25px;
    background-image: url(img/mapa.png);
    background-size: cover;
    background-position: 50% 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');


footer{
  box-sizing: border-box;
  display: flex;
  padding: 10vh 8vw;
  flex-direction: column;
  background-color: #0A142F;
  font-family: 'Inter', sans-serif;
}

.footer-artics{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer-artics article, form{
  box-sizing: content-box;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;

  p{
    color: white;
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
  }
  a{
    color: #BCBCBC;
    text-decoration: none;
    font-weight: 500;
  }
}

footer .footer-artics form{
  display: flex;
  background-color: #222B44;
  width: 17rem;
  padding: 2.5rem;
}

footer .footer-artics form input{
  background-color: white;
  border-radius: 6px;
  height: 3.1rem;
  width: 93%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 1rem;
  box-sizing: border-box;
}
footer .footer-artics form div{
  display: flex;
}
footer .footer-artics form div #email{
  width: calc(93% - 3.1rem);
  height: 3.1rem;
  border-radius: 6px 0 0 6px;
}
footer .footer-artics form div button{
  background-color: #0081FE;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 0 6px 6px 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-artics form legend{
  font-size: 0.7rem;
  color: #A7AAB4;
  font-weight: 400;
}

.feet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 2px solid #222B44;
  color: white;
  h1{
    padding-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    font-family: 'Karantina', Helvetica;
    cursor: pointer;
  }
}
.feet article{
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 2rem;
  display: flex;
  gap: 1.2rem;
  p{
    cursor: pointer;
  }
}
.feet div{
  display: flex;
  padding-top: 2rem;
  gap: 0.8rem;
  img{
    cursor: pointer;
  }
}
 
 


@media screen and (max-width: 846px){
  footer .footer-artics article{
    font-size: 0.7rem;
    gap: 10px;
    margin-top: 12px;
    p{
      font-size: 0.8rem;
    }
  }
  footer .footer-artics form{
    width: 90%;
    padding: 2.5rem;
    margin-top: 3rem;
  }

  footer .footer-artics form input{
    height: 2.2rem;
    width: 93%;
    font-size: 0.7rem;
    padding-left: 0.8rem;
  }
  footer .footer-artics form div #input-email{
    width: calc(93% - 3.1rem);
    height: 2.2rem;
  }
  footer .footer-artics form div button{
    width: 3.1rem;
    height: 2.2rem;
  }
  footer .footer-artics form legend{
    font-size: 0.5rem;
  }


  .feet{
    margin-top: 2rem;
    border-top: 2px solid #222B44;
    h1{
      padding-top: 1.5rem;
      font-size: 2rem;
      font-weight: 400;
    }
    
  }
  .feet article{
    font-size: 0.6rem;
    font-weight: 600;
    padding-top: 1.5rem;
    gap: 0.5rem;
  }
  .feet div{
    padding-top: 1.5rem;
    gap: 0.8rem;
    img{
      height: 30px;
    }
  }
}

@media screen and (max-width: 768px){
  
  .section6 article{
    flex-dire
    }

}


@media screen and (max-width: 422px){
  .feet h1{
    order: 2;
  }
  .feet article{
    order: 1;
  }
  .feet div{
    order: 3;
  }
  .feet div{
    padding-top: 0.8rem;
  }
}