* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #003b63;
    width: 100%;
    height: 500vh;
}

.lobo {
    opacity: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-image: url(img/lobo.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    transition: 0.3s;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 70px;
    width: 100%;
    margin-left: -1px;
}

nav {
    transition: 0.4s;
    flex-wrap: wrap;
    z-index: 5;
    color: rgb(255, 255, 255);
    background-color: #003b63;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    margin-top: -2vh;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: verdana;
}

.logoText {
    cursor: pointer;
    font-family: Karantina;
    font-size: 2.5rem;
    margin-left: 7vw;
    font-weight: 500;
}

nav h2 {
    cursor: pointer;
    font-family: Inter;
    font-size: 1rem;
    margin-left: 50px;
    font-weight: 700;
}

nav h2+h2+h2+h2 {
    margin-left: auto;
    margin-right: 50px;
}

.loginButton {
    transition: 0.4s;
    cursor: pointer;
    border: none;
    font-size: 17px;
    font-family: Inter;
    font-weight: 700;
    background-color: white;
    padding: 10px;
    width: 150px;
    border-radius: 4vi;
    margin-right: 6vw;
    color: #003b63;
}

.loginButton:hover {
    color: white;
    background-color: rgb(0, 132, 172);
}

.top-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 670px;
    margin-top: 140px;
    width: 100%;
    display: flex;
}

.article-gradient {
    z-index: 6;
    width: auto;
}

.article-gradient article {
    width: 500px;
    height: 260px;
    margin-left: 10vw;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    font-family: serif;
    color: #ffffff;
}

.top-article h1 {
    font-weight: 700;
    font-size: 55px;
}

.top-article h2 {
    font-size: 22px;
    font-weight: 400;
}

.top-article button {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    color: #003b63;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 1.8vw;
    width: 230px;
    height: 60px;
    margin-top: 10px;
}

.top-article button:hover {
    background-color: #0096bb;
    color: white;
}

.img-container {
    display: flex;
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 700px;
    justify-content: end;
    
}

.scomfort {
    background-image: url(img/Smartphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: none;
}

.section1 {
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: #008ba7;
    width: 100%;
    height: 155 0px;
    position: relative;
    clip-path: polygon(0% 0%, 100vw 220px, 100vw 100vh, 0vw 100vw);
}

.models {
    transition: 0.8s;
    opacity: 0;
    margin-top: 290px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.models section {
    width: 700px;
    height: 500px;
    margin-bottom: 100px;
}

.models section:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 300px;
    margin-left: 80px;
}

.models section:first-child img {
    width: 100%;
    filter: drop-shadow(-80px -160px 130px #0cadce);
}

.models section:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-right: 130px;
}

.models section:last-child h1 {
    font-size: 54px;
    color: #ffffff;
    margin-top: 30px;
}


@media screen and (max-width: 1100px) {
    .models {
        flex-wrap: wrap;
    }

    .models section:first-child {
        margin-left: 0px;
    }

    .models section:last-child {
        margin-right: 0px;
        margin-top: -100px;
    }

    .top-content {
        justify-content: center;
    }

    .article-gradient article {
        width: 350px;
        height: 400px;
    }

}

@media screen and (max-width: 1000px) {



    nav h2+h2+h2+h2 {
        margin-left: 20px;
        margin-right: 50px;
    }

    .loginButton {
        margin-right: 0;
    }


}

@media screen and (max-width: 768px) {

    .img-container{
        width: 0;
    }

    .article-gradient article {

    }

}